<!-- Navbar Start -->
<div class="container-fluid bg-primary">
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg py-0">
            <!-- Logo -->
            <a href="index.html" class="navbar-brand">
                <h1 class="text-white fw-bold d-block">Adui<span class="text-secondary">nola</span></h1>
            </a>

            <!-- Navbar Toggler -->
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
                <div class="navbar-nav ms-auto mx-xl-auto p-0">
                    <a href="/" class="nav-item nav-link active text-secondary">Home</a>
                    <a href="/about" class="nav-item nav-link">About</a>
                    <a href="/service" class="nav-item nav-link">Services</a>
                    <a href="/community" class="nav-item nav-link">Community</a>
                    <a href="/projects" class="nav-item nav-link">Projects</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">More</a>
                        <div class="dropdown-menu rounded">
                            <a href="/blogs" class="dropdown-item">Blog</a>
                            <a href="/teams" class="dropdown-item">Our Team</a>
                            <a href="/testimonials" class="dropdown-item">Testimonials</a>
                            <a href="/education" class="dropdown-item">Education</a>
                        </div>
                    </div>
                    <a href="/contact" class="nav-item nav-link">Contact</a>
                </div>
            </div>

            <!-- Contact Info -->
            <div class="d-none d-xl-flex flex-shrink-0">
                <!-- Phone Icon -->
                <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
                    <a href="tel:+255712451360" class="position-relative animated tada infinite">
                        <i class="fa fa-phone-alt text-white fa-2x"></i>
                        <div class="position-absolute" style="top: -7px; left: 20px;">
                            <span><i class="fa fa-comment-dots text-secondary"></i></span>
                        </div>
                    </a>
                </div>
                <!-- Phone Info -->
                <div class="d-flex flex-column pe-4 border-end">
                    <span class="text-white-50">Have any questions?</span>
                    <span class="text-secondary">Call: +255 7 1245 1360</span>
                </div>
                <!-- Search Icon -->
                <div class="d-flex align-items-center justify-content-center ms-4">
                    <a href="#"><i class="bi bi-search text-white fa-2x"></i></a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
