<!-- Project Start -->
<div class="container-fluid project py-5 mb-5">
    <div class="container">
        <!-- Section Title -->
        <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
            <h5 class="text-primary">Our Projects</h5>
            <h1>Our Recently Completed Projects</h1>
        </div>

        <!-- Project Grid -->
        <div class="row g-5">
            <!-- Project 1: Peace of Mind Hotel -->
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                <div class="project-item">
                    <div class="project-img">
                        <img src="img/project-1.jpg" class="img-fluid w-100 rounded" alt="Peace of Mind Hotel">
                        <div class="project-content">
                            <a href="https://peaceofmindhotel.com" class="text-center" target="_blank">
                                <h4 class="text-secondary">Hotel Website</h4>
                                <p class="m-0 text-white">Booking System & Reservation</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project 2: Mkwawa Leaf Tobacco -->
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                <div class="project-item">
                    <div class="project-img">
                        <img src="img/project-2.jpg" class="img-fluid w-100 rounded" alt="Mkwawa Leaf Tobacco">
                        <div class="project-content">
                            <a href="https://mkwawatobacco.com" class="text-center" target="_blank">
                                <h4 class="text-secondary">Tobacco Export</h4>
                                <p class="m-0 text-white">Tobacco Industry Website</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project 3: Mkwawa Leaf Tobacco (Tanzania) -->
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                <div class="project-item">
                    <div class="project-img">
                        <img src="img/project-3.jpg" class="img-fluid w-100 rounded" alt="Mkwawa Leaf Tobacco Tanzania">
                        <div class="project-content">
                            <a href="https://mkwawatobacco.co.tz" class="text-center" target="_blank">
                                <h4 class="text-secondary">Flue-Cured & Dark-Fired</h4>
                                <p class="m-0 text-white">Tobacco Export & Logistics</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project 4: ThinkBold Africa -->
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s">
                <div class="project-item">
                    <div class="project-img">
                        <img src="img/project-4.jpg" class="img-fluid w-100 rounded" alt="ThinkBold Africa">
                        <div class="project-content">
                            <a href="https://fwb.thinkbold.africa" class="text-center" target="_blank">
                                <h4 class="text-secondary">ThinkBold Africa</h4>
                                <p class="m-0 text-white">Innovation & Business Consulting</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project 5: M-Money by Aduinola -->
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s">
                <div class="project-item">
                    <div class="project-img">
                        <img src="img/project-5.jpg" class="img-fluid w-100 rounded" alt="M-Money by Aduinola">
                        <div class="project-content">
                            <a href="https://m-money.anuinola.com" class="text-center" target="_blank">
                                <h4 class="text-secondary">M-Money Platform</h4>
                                <p class="m-0 text-white">Mobile Payment Solutions</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project 6: Pure Living Afya Products -->
            <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s">
                <div class="project-item">
                    <div class="project-img">
                        <img src="img/project-6.jpg" class="img-fluid w-100 rounded" alt="Pure Living Afya Products">
                        <div class="project-content">
                            <a href="https://purelivingafyaproduct.anuinola.com" class="text-center" target="_blank">
                                <h4 class="text-secondary">Afya Products</h4>
                                <p class="m-0 text-white">Health and Wellness Products</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Project End -->
